html,
body {
  height: 100%;
}

.flex-item {
  border: 1px solid gray;
  height: 250px;
  width: 300px;
  padding-top: 20px;
}

.flex-item img {
  height: 150px;
  margin: auto auto;
}

.channel {
  color: darkblue;
}

.video-details {
  color: rgb(50, 50, 50);
}
