body {
  background-color: tan;
  color: black;
}

p {
  display: inline;
}

/* On screens that are 600px wide or less, the background color is olive */
@media (min-width: 600px) {
  body {
    background-color: olive;
    color: white;
  }
  p {
    display: grid;
  }
}

/* On screens that are 992px wide or less, the background color is blue */
@media (min-width: 992px) {
  body {
    background-color: blue;
    color: white;
  }
}
