@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;700&display=swap');

html,
body {
  color: #0f0e0e;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
  margin: 0;
}

header {
  background: #5c946e;
  border-bottom: 3px solid #4f7d5d;
  color: #fbf5f3;
}

header h1 {
  padding: 25px;
}

header h1 span {
  font-family: 'EB Garamond', serif;
  font-size: 18px;
  margin-left: 10px;
}

.centered {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  margin: 25px auto;
  width: 75%;
}

button {
  border: 2px solid #5c946e;
  border-radius: 5px;
  background: #4f7d5d;
  color: #fbf5f3;
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
}

button:hover {
  border: 2px solid #4f7d5d;
  background: #5c946e;
}

.card {
  border: 3px solid #4f7d5d;
  padding: 25px;
}

.hard-card {
  border-color: #b20707;
}

.medium-card {
  border-color: #b29807;
}

.easy-card {
  border-color: #07b246;
}

.hidden {
  display: none;
}

.hard {
  color: #b20707;
  font-weight: bolder;
}

.medium {
  color: #b29807;
  font-weight: bolder;
}

.easy {
  color: #07b246;
  font-weight: bolder;
}

.correct {
  background-color: #a9e8bd;
  font-weight: bolder;
}
