body {
  padding: 20px;
  font-family: Helvetica;
  background-color: black;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  justify-content: center;
  grid-gap: 5px;
  grid-auto-rows: minmax(120px, auto);
}

.box {
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 14px;
  border-radius: 5px;
  border: 2px solid white;
}
